body {
    background-color: #EFEFEF;
}

.content {
    margin-top: 20px;
}

.container > h1 {
    margin-bottom: 20px;
}


.nav-wizard > li > a {
    background-color: white;
}

.nav-wizard > li:not(:last-child) > a:after {
    border-left-color: white;
    border-left-width: 20.7px;
}

.nav-wizard > li:not(:first-child) > a:before {
    border-left-color: #EEE;
}
.nav-wizard > li:hover:not(:last-child) > a:after {
    border-left-color:#d5d5d5;
}

.nav-wizard > li.active > a:after {
    border-left-color: #428bca;
    border-left-width: 20.7px;
}
.nav-wizard > li.active:not(:last-child) > a:after {
    border-left-color: #428bca;
}

.event-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.event-list > li {
    display: block;
    list-style-type: none;
    padding: 10px;
    min-height: 90px;
    background-color: #fff;
}

.event-list > li:last-child {
    margin-right: 0;
}

.event-row {
    display: block;
}

.event-row .event-title {
    display: block;
    font-weight: bold;
    margin-bottom: 6px;
}

.event-row::after {
    content: "";
    display: table;
    clear: both;
}

.event-row .event-image {
    float: right;
    width: 90px;
    height: 90px;
    overflow: hidden;
}

.event-row .event-image > img {
    width: 100%;
}

.content-box {
    background-color: #fff;
}

.load-msg {
    margin-bottom: 20px;
}

.table > tbody > tr.active > td {
    background-color: #fff;
}

.table tr.deleted > td {
    text-decoration: line-through;
}

.table .item-addition {
    color: #999;
    font-size: 0.9em;
    display: list-item;
    margin-left: 1em;
}

.actionbuttons {
    margin-top: 30px;
}

.table td.actions {
    text-align: right;
}

.table .currency {
    text-align: right;
}

/*
.context-nextevent {
    color: red;
}
.nav-wizard > li.active.context-nextevent > a:after {
    border-left-color: red;
}
.nav-wizard > li.active.context-nextevent:not(:last-child) > a:after {
    border-left-color: red;
}
.nav-wizard > li.context-nextevent > a,  .nav-wizard > li.context-nextevent > a:hover{
    background-color: red;
}
*/

hr {
    border-color: #333;
}

@media(max-width:960px) {
    .event-list {
       display: block;
    }

    .event-list > li {
        width: 100%;
        min-height: 50px;
        margin-bottom: 20px;
    }
}
